In [3]:
import pandas as pd

# Replace 'your_file.csv' with the path to your actual CSV file
file_path = "C:\\Users\\Musae\\Documents\\GitHub-REPOs\\Vegetation-Cover-In-Riyadh\\Codes\\Temp and rainfall data\\monthly_averages_formatted.csv"
# Read the .xlsx file into a DataFrame
df = pd.read_csv(file_path)

In [4]:
df

   Year/Month  Temp Average  PRECTOTCORR Average
0     2018/12     17.548548             0.490000
1     2019/01     17.317742             0.000000
2     2019/02     17.146786             0.146429
3     2019/03     19.488065             0.001290
4     2019/04     25.557667             0.146000
..        ...           ...                  ...
56    2023/08     36.935323             0.000000
57    2023/09     34.621000             0.000000
58    2023/10     29.175000             0.116774
59    2023/11     23.226167             0.270000
60    2023/12     17.595161             0.694839

[61 rows x 3 columns]